<!--Which of the following is a correct example of how to declare a FileInputStream?-->

<!--1Type-->

FileInputStream input = new FileInputStream("input.txt");

<!--2Type-->

FileInputStream input = new FileInputStream("C:/documents/SampleFolder/input.txt");

<!--3tYPE-->
File inputFile = new File(fileName);
FileInputStream input = new FileInputStream(inputFile);

//Generic Terms

Which of the following options correctly declares a generic class?

public class MyClass<T> { /* body */ } 

    A generic class is created by specifying a type parameter inside the <> operator .
